html, body {
  height: 100%;
  margin: 0; /* Hilangkan margin default */
}

body {
  background:  linear-gradient(to right top, #DAD3BE, #B7B597);
  background-size: cover; /* Pastikan gradien menutupi seluruh area */
}

.title {
  display: inline-block;
}


.bg-color {
    background: linear-gradient(to left top, #DEAC80, #DBA979);
    box-shadow: -5px 8px 5px rgba(0, 0, 0, 0.5);
}

.brand-logo img {
    width: 135px;
    height: auto;

}

.brand-logo h1 {
    left: 5%;
    margin-top: 26px;
    font-family: "Playfair Display", serif;
    padding-bottom: 25px;
    color: #A86D38;
   
}

/* contect */

.content { 
    justify-content: center;
    align-items: center;
 } 

.wrapper {
  margin-top: 50px;
}

.link {
  margin-top: 70px;
}

.link .icon {
   font-size: 23px;
   border: 1px solid #A86D38;
   padding: 15px 40px;
   border-radius: 100px;
   background: #DEAC80;
   outline: none;
   color: black;
   font-family: "Playfair Display", serif;
}

.link .icon i {
  margin-left: 15px;
}

.link .icon:hover {
  text-decoration: none;
  box-shadow: -5px 5px 20px;
  color: wheat;
  transition: 0.3s;
  outline: none;
}




.informasi {
  font-family: "Playfair Display", serif;
  
}

footer {
  margin-top: 80px;
}

.informasi {
  font-size: 20px;
  font-weight: 400;
  color: #74512D;
}